
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#F96714;
    stroke-width:5.5;
    stroke-linecap:round;
}
  
.ham3 .top {
    stroke-dasharray: 40 130;
}
.ham3 .middle {
    stroke-dasharray: 40 140;
}
.ham3 .bottom {
    stroke-dasharray: 40 205;
  }
.ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}
.ham3.active .middle {
    stroke-dashoffset: -102px;
}
.ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}
.ham4 .top {
    stroke-dasharray: 40 121;
}
  

.overlay {
    background-color: rgba(0,0,0,0.7); 
    height: 100%;
    position: absolute;
    width: 100%;
}