.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@font-face {
  font-family: 'Montserrat Thin';
  src: url("../fonts/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dot {
  color: #09BAB4;
}

.virgule {
  color: #F96714;
}

body {
  margin: 0;
}

.purple {
  color: #B0CAE8;
}

.navigation {
  position: fixed;
  width: 1000px;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  right: 0;
}

.navigation.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation.active .navigation__inner {
  background-color: #ffffff94;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 700ms cubic-bezier(1, 0.07, 0.58, 1);
  transition: -webkit-transform 700ms cubic-bezier(1, 0.07, 0.58, 1);
  transition: transform 700ms cubic-bezier(1, 0.07, 0.58, 1);
  transition: transform 700ms cubic-bezier(1, 0.07, 0.58, 1), -webkit-transform 700ms cubic-bezier(1, 0.07, 0.58, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation.active .navigation__inner:after {
  width: 300%;
  -webkit-animation: elastic 250ms ease 500.5ms both;
          animation: elastic 250ms ease 500.5ms both;
}

.navigation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: background-color 0s linear 500ms, -webkit-transform 500ms linear;
  transition: background-color 0s linear 500ms, -webkit-transform 500ms linear;
  transition: transform 500ms linear, background-color 0s linear 500ms;
  transition: transform 500ms linear, background-color 0s linear 500ms, -webkit-transform 500ms linear;
}

.navigation__inner:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff94;
  z-index: -1;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.body-overflow {
  overflow: hidden;
  height: 100vh;
  width: auto;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 960px;
  }
  .nav-mob {
    display: none !important;
  }
  .nav-inner {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1220px;
  }
}

.hero {
  padding-top: 2%;
  background: url("../img/main-background.jpg") no-repeat;
  background-size: contain;
}

.hero__logo {
  width: 123px;
}

.hero__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1001010101;
}

.hero__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -18%;
}

.hero-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: none;
  outline: none;
}

.menu__line {
  content: "";
  display: inline-block;
  height: 3px;
  width: 40px;
  background-color: #09BAB4;
  border-radius: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__text {
  font-size: 15px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  font-family: 'Montserrat Medium',sans-serif;
}

.nav-mob {
  display: block;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat Light',sans-serif;
  list-style-type: none;
  text-align: center;
}

.nav__item {
  margin-bottom: 7px;
  font-size: 40px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F96714), to(#F96714));
  background-image: linear-gradient(#F96714, #F96714);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
  margin-bottom: 20px;
}

.nav__link:hover {
  color: #09BAB4;
  background-size: 100% 2px;
}

.nav-i {
  width: 70%;
  font-family: 'Montserrat Medium',sans-serif;
}

.nav-inner {
  display: none;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-button {
  width: 240px;
  height: 47px;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  color: #fff;
  background: #09BAB4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-button:hover {
  background: #4bb2af;
}

.nav-item {
  font-size: 19px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F96714), to(#F96714));
  background-image: linear-gradient(#F96714, #F96714);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.nav-link:hover {
  color: #09BAB4;
  background-size: 100% 2px;
}

.mb {
  margin-bottom: 8px;
}

.offer__title {
  font-size: 50px;
  letter-spacing: 0.015em;
  font-family: 'Montserrat Semibold',sans-serif;
  width: 61%;
  padding-top: 5%;
}

.offer__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtitle__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.subtitle__line__orange {
  content: "";
  height: 5px;
  width: 74px;
  background-color: #F96714;
}

.subtitle__line__blue {
  content: "";
  height: 5px;
  width: 74px;
  background-color: #09BAB4;
}

.subtitle__text {
  font-size: 25px;
  margin-left: 33px;
  line-height: 150%;
  font-family: 'Montserrat Light',sans-serif;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__title {
  font-size: 40px;
  color: #333333;
  text-align: center;
  font-family: 'Montserrat Semibold',sans-serif;
}

.info__subtitle {
  display: block;
  text-align: center;
  letter-spacing: 0.015em;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 70px;
  font-family: 'Montserrat Light',sans-serif;
}

.footer {
  background: url("../img/second-background.jpg") no-repeat;
  height: 350px;
  background-position: top center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12%;
}

.footer__link {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 0.065em;
  font-family: 'Montserrat Medium',sans-serif;
}

.footer__number {
  font-size: 24px;
  letter-spacing: 0.065em;
  color: #000;
  text-decoration: none;
  font-family: 'Montserrat Medium',sans-serif;
}

.footer__soc-img {
  margin-right: 15px;
  color: #F96714;
}

.footer__tw {
  color: #F96714;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.line__orange {
  content: "";
  height: 5px;
  width: 110px;
  background-color: #F96714;
}

.line__blue {
  content: "";
  height: 5px;
  width: 110px;
  background-color: #09BAB4;
}

.portfolio-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  padding: 27% 0;
  color: #97DEDB;
}

.contacts {
  padding: 0 0 32%;
}

.contacts__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contacts__columns p {
  margin: 0 0 40px;
  font-family: 'Montserrat Medium',sans-serif;
  font-size: 26px;
}

.contacts__columns p a {
  text-decoration: none;
  color: #000;
}

.contacts .col:nth-child(1) p {
  font-family: 'Montserrat Light',sans-serif;
}

.contacts__title {
  text-transform: uppercase;
  font-family: 'Montserrat Semibold',sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 8%;
}

.col {
  width: 50%;
  max-width: 500px;
}
/*# sourceMappingURL=style.css.map */