// Index
@media (min-width: 1280px){
    .container{
        width: 1220px;
    }
}
@media (min-width: 1024px){
    .container{
        width: 960px;
    }
}
@media (min-width: 768px){
    .container{
        width: 720px;
    }
}