// Index
@media (max-width: 1440px){
    .container{
        max-width: 1280px;
    }
    .hero__image{
        margin-top: -15%;
    }
    .card-image{
        width: 265px;
    }
    .footer{
        height: 300px;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 1080px;
    }
    .hero-people{
        width: 440px;
    }
    .card__name{
        font-size: 20px;
    }
    .card__description{
        font-size: 13px;
    }
    .card-image{
        width: 265px;
    }
    .footer{
        height: 280px;
    }
}