// Index
@media (min-width: 768px){
    .container{
        width: 720px;
    }
}
@media (min-width: 1024px){
    .container{
        width: 960px;
    }
    .nav-mob{
        display: none !important;
    }
    .nav-inner{
        display: flex !important;
    }
}
@media (min-width: 1280px){
    .container{
        width: 1220px;
    }
}