.services
    &__headings
        display: flex
        justify-content: flex-start
        flex-direction: column
        margin-top: 25px
    &__title
        font-size: 36px
        color: #333333
        text-align: left
        +light
        margin-top: 10px
    &__line
        display: flex
        align-items: flex-start
    &__line__orange
        content: ""
        height: 5px
        width: 74px
        background-color: #F96714
    &__line__blue
        content: ""
        height: 5px
        width: 74px
        background-color: #09BAB4
