.services
    &__headings
        display: flex
        justify-content: flex-start
        flex-direction: column
        margin-top: 25px
    &__title
        font-size: 36px
        color: #333333
        text-align: left
        +light



